﻿@using  Kate.StaffPerson.ViewModels
@model IEnumerable<AparatViewModel>

@{
    ViewData["Title"] = "Aparat";
}

<div class="row">
    <div class="container clearfix">
        @Html.Partial("_HeaderStrip")

        <div class="col-md-12 col-sm-12 col-xs-12 col-centered text-container row">

            @foreach(var item in Model)
            {
                <div class="col-md-6 user-data col-sm-12 col-xs-12 margin-bottom-30">
                    <div class="aparat-item-other row">
                        <div class="image-container col-md-6 col-sm-6 col-xs-12 50" style="background-image: url('@(FolderPaths.Value.ImageFolderPath + item.PhotoPath)')" >
                        </div>

                        <ul class="aparat-item-desciption-other col-md-6 col-sm-6 col-xs-12">
                            <li>
                                <h4>@item.Name @item.Surname</h4>
                            </li>
                            <li>
                                <strong>@item.Possition</strong>
                            </li>
                            <li>
                                <i>@item.Description</i>
                            </li>
                            <li>
                                <p class="email"> @item.Email</p>
                            </li>
                            <li>
                                <p class="phone"> @item.Mobile</p>
                            </li>
                        </ul>
                    </div>
                </div>
            }
        </div>
    </div>
</div>