﻿@using  Kate.StaffPerson.ViewModels
@model FullEmployeeViewModel

@{
    ViewData["Title"] = "Inspector";
}

<div class="row">
    <div class="container">

        @Html.Partial("_HeaderStrip")

        <div class="col-md-12 col-centered text-container user-about" >

            
            <div class="image-text-container">
                <div class="col-md-3 inspector-img-conteiner" style="background-image: url('@(FolderPaths.Value.ImageFolderPath + Model.PhotoPath)')"></div>
                <div class="col-md-9">
                    <span class="name">@Model.Name @Model.Surname</span> 

                    @Html.Raw(Model.HeaderText)
                </div>
            </div>


            <div class="col-md-12 mb-2 mt-3   big-text italic text-container remove-padding"  style="margin-top: 40px !important;">
                @Html.Raw(Model.Description)
            </div>
        </div>
    </div>
</div>