﻿@model string

@{
    ViewData["Title"] = "Work";
}

<div class="row">
    <div class="container">
        @Html.Partial("_HeaderStrip")

        <div class="col-md-12 col-centered text-container italic font-italic mb-2 mt-3 big-text" id="question-unswer">
            @Html.Raw(Model)
        </div>
    </div>
</div>