﻿@using Kate.Decision.ViewModels
@using Kate.Web.Helpers
@model PageingHelper<DecisionViewModel>
@{
    ViewData["Title"] = "Decision";
}


<div class="row">
    <div class="container">
        @Html.Partial("_HeaderStrip")

        @foreach (var Decision in Model.List)
        {
            if (!string.IsNullOrEmpty(Decision.Description) && !string.IsNullOrEmpty(Decision.Name))
            {
                <div class="col-md-12">
                    <div class="news d-flex justify-content-between">
                        <div class="poster">
                            @if (ViewBag.cl == "ka")
                            {
                                <img width="147"
                                     src="@(FolderPaths.Value.ImageFolderPath + Decision.PhotoName)"
                                     class="@(Decision.PdfFilePath != null ? "show-pdf" : "")" @(Decision.PdfFilePath != null ? "data-src=" + (FolderPaths.Value.PdfWordFolderPath + Decision.PdfFilePath) + "" : "")
                                     data-title="@Decision.Name" />
                            }
                            else
                            {
                                <img width="147"
                                     src="@(FolderPaths.Value.ImageFolderPath + Decision.PhotoName)"
                                     class="@(Decision.WordFilePath != null ? "show-pdf" : "")" @(Decision.WordFilePath != null ? "data-src=" + (FolderPaths.Value.PdfWordFolderPath + Decision.WordFilePath) + "" : "")
                                     data-title="@Decision.Name" />
                            }
                        </div>

                        <div class="description">
                            <h2>@Decision.Name</h2>
                            <br />

                            <span class="text">
                                @Html.Raw(Decision.Description)
                            </span>
                        </div>
                    </div>
                </div>
            }
        }

        <div class="col-md-12">
            @Html.Partial("_Pageing", Model.GetPageingData(ViewContext.RouteData.Values))
        </div>
    </div>
</div>

<div class="container" id="container">

</div>

<div class="modal fade in" id="pdf-dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h2 class="modal-title"></h2>
            </div>

            <div class="modal-body">
                <div id="book-embed"></div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/libs/html2canvas.min.js"></script>
    <script src="~/js/libs/three.min.js"></script>
    <script src="~/js/libs/pdf.min.js"></script>
    <script src="~/js/dist/3dflipbook.js"></script>

    <script>
        $('[data-dismiss="modal"]').click(function () {
            $(this).closest('.modal').fadeOut();
            $('#book-embed').html('');
        });

        var showBook = function (src) {
            $('#book-embed').FlipBook({
                pdf: src,
                template: {
                    html: '/templates/default-book-view.html',
                    styles: [
                        '/css/short-black-book-view.css'
                    ],
                    links: [
                        {
                            rel: 'stylesheet',
                            href: '/css/font-awesome.min.css'
                        }
                    ],
                    script: '/js/default-book-view.js'
                }
            });

            $('.modal-dialog').draggable();
        }

        $('.show-pdf').click(function () {
            var pdfPath = $(this).data('src');
            var title = $(this).data('title');
            if ($(window).width() < 995) {
                var link = document.createElement('a');
                link.href = pdfPath;
                link.download = 'file.pdf';
                link.dispatchEvent(new MouseEvent('click'));
                return;
            }


            showBook(pdfPath);

            $('.modal-title').text(title);
            $('.modal').fadeIn();
        });

        $(document).on('keyup, keydown', function () {
            $('.modal').fadeOut();
        });
    </script>
}