﻿@using Kate.DynamicMenu.ViewModels
@model FooterViewModel

<div class="col-md-3 col-xs-12 footer-nav footer-nav-mobile only-mobile">
    <ul>
        @foreach (var item in Model.Categories)
        {
            <li>
                @if (item.Categories.Count > 0)
                {
                    @if (item.CategoryType != Kate.EntityFrameworkCore.Entities.CategoryType.Home)
                    {
                        <a asp-controller="Category" asp-action="MiddleLevel" asp-route-id="@item.Id">
                            @item.CategoryName
                        </a>
                    }
                    else
                    {
                        <a asp-controller="@item.Controller" asp-action="@item.Action">
                            @item.CategoryName
                        </a>
                    }
                }
                else
                {
                    <a asp-controller="@item.Controller" asp-action="@item.Action" asp-route-id="@item.Id">@item.CategoryName</a>
                }
            </li>
        }
    </ul>
</div>
<div class="col-md-2 eu-flag col-xs-2 no-mobile">
    <img src="~/images/footer/Eu.png" />
</div>
<div class="col-md-3 col-xs-4 flag-text no-mobile" id="footer-descktop-flag-text">
    <span>
        @Html.Raw(Model.AboutUsText.Translation.Description)
    </span>
</div>
<div class="only-mobile col-xs-12 .eu-flag-mobile">
    <div class="mobile-eu-flag-and-text-footer">
        <div class="eu-flag eu-flag-mobile">
            <img src="~/images/footer/Eu.png" />
        </div>
        <div class="flag-text  flag-text-mobile">
            <span>
                @Html.Raw(Model.AboutUsText.Translation.Description)
            </span>
        </div>
    </div>
</div>
<div class="col-md-4 col-xs-3 footer-nav no-mobile">
    <ul>
        @foreach (var item in Model.Categories)
        {
            <li>
                @if (item.Categories.Count > 0)
                {
                    @if (item.CategoryType != Kate.EntityFrameworkCore.Entities.CategoryType.Home)
                    {
                        <a asp-controller="Category" asp-action="MiddleLevel" asp-route-id="@item.Id">
                            @item.CategoryName
                        </a>
                    }
                    else
                    {
                        <a asp-controller="@item.Controller" asp-action="@item.Action">
                            @item.CategoryName
                        </a>
                    }
                }
                else
                {
                    <a asp-controller="@item.Controller" asp-action="@item.Action" asp-route-id="@item.Id">@item.CategoryName</a>
                }
            </li>
        }
        <li><a asp-controller="Contact" asp-action="Index">@L("Contact")</a></li>
    </ul>
</div>
