﻿@using Kate.Web.Startup
@using Kate.Article.Dto
@using Kate.Web.Extensions
@model IEnumerable<ArticleTableDto>
@{
    ViewBag.CurrentPageName = PageNames.DynamicMenu; // The menu item will be active for this page.
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    სტატიები
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a id="RefreshButton" href="javascript:void(0);" class="waves-effect waves-block"><i class="material-icons">refresh</i>Refresh</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>სახელი</th>
                            <th>სორტირების ინდექსი</th>
                            <th>მოკლე აღწერა</th>
                            <th>აღწერა</th>
                            <th>ვიდეოს ლინკი</th>
                            <th>სიახლის თარიღი</th>
                            <th>ჩანს თუ არა სლაიდერში</th>
                            <th>მიმაგრებული სურათი</th>
                            <th>მიმაგრებული ფაილი word</th>
                            <th>მიმაგრებული ფაილი pdf</th>
                            <th>ჩანს თუ არა საიტზე</th>
                            <th>ჩანს თუ არა მარჯვენა ყუთში</th>
                            <th>კატეგორია</th>
                            <th>საძიებო თაგები</th>
                            <th>მოქმედებები</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var article in Model)
                        {
                        <tr>
                            <td>@article.Translation.Name</td>
                            <td>@article.SortIndex</td>
                            <td>@article.Translation.ShortDescription</td>
                            <td data-toggle="modal"
                                data-target="#DescritionModal"
                                data-text="@article.Translation.Description"
                                onclick="$('.modal-text').html($(this).data('text'))">
                                @article.Translation.Description.Slice(70)
                            </td>
                            <td>@article.VideoEmbed</td>
                            <td>@article.CreateDate</td>
                            <td><i class="material-icons" style="color:@(article.ShowInMainSlider ? "green":"red");">@(article.ShowInMainSlider ? "check_box" : "indeterminate_check_box")</i></td>
                            <td>
                                @if (string.IsNullOrEmpty(article.MainPhotoPath))
                                {
                                    <span>ფაილი არ არის მიმაგრებული</span>
                                }
                                else
                                {
                                    <a href="@(FolderPaths.Value.ImageFolderPath + article.MainPhotoPath)">სურათის სანახავად დააჭირე</a>
                                }
                            </td>
                            <td>
                                @if (string.IsNullOrEmpty(article.WordFilePath))
                                {
                                    <span>ფაილი არ არის მიმაგრებული</span>
                                }
                                else
                                {
                                    <a href="@(FolderPaths.Value.PdfWordFolderPath + article.WordFilePath)">@article.FileUserReadableName</a>
                                }
                            </td>
                            <td>
                                @if (string.IsNullOrEmpty(article.PdfFilePath))
                                {
                                    <span>ფაილი არ არის მიმაგრებული</span>
                                }
                                else
                                {
                                    <a href="@(FolderPaths.Value.PdfWordFolderPath + article.PdfFilePath)">@article.FileUserReadableName</a>
                                }
                            </td>
                            <td><i class="material-icons" style="color:@(article.ShowOnSite ? "green":"red");">@(article.ShowOnSite ? "check_box" : "indeterminate_check_box")</i></td>
                            <td><i class="material-icons" style="color:@(article.ShowOnMainPageBox ? "green":"red");">@(article.ShowOnMainPageBox ? "check_box" : "indeterminate_check_box")</i></td>
                            <td>@article.CategoryName</td>
                            <td>
                            <td class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">menu</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    @foreach (var tag in article.SearchTags)
                                    {
                                        <li><a href="#" class="waves-effect waves-block edit-user"><i class="material-icons">edit</i>@tag.Tag</a></li>
                                    }
                                </ul>
                            </td>

                            <td class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">menu</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <form asp-action="Delete" method="post">
                                            <input type="hidden" value="@article.Id" name="id" />
                                            <button type="submit" class="btn btn-primary">წაშლა</button>
                                        </form>
                                    </li>
                                    <li>
                                        <a class="waves-effect waves-block edit-user" asp-action="Manage" asp-controller="Article" asp-route-id="@article.Id"><i class="material-icons">edit</i>რედაქტირება</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
                <a asp-action="Manage" asp-controller="Article">
                    <button type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right">
                        <i class="material-icons">add</i>
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="DescritionModal" tabindex="-1" role="dialog" aria-labelledby="DescritionModal" data-backdrop="static">
    <div class="modal-dialog" role="dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">აღწერა</h4>
            </div>
            <span class="modal-text"></span>
        </div>
    </div>
</div>