﻿@using Kate.Web.Views.Shared.Components
@model LanguageSwitchViewModel

@if (!Model.IsVoicePage)
{
    <ul class="langs">
        @foreach (var language in Model.Languages)
        {
            <li class="@(language.Name == Model.CurrentLanguage.Name?"active":"")"><a href="@(ApplicationPath)AbpLocalization/ChangeCulture?cultureName=@(language.Name)&returnUrl=@(Context.Request.Path)"><i class="@language.Icon"></i> @language.DisplayName.Substring(0, 3)</a></li>
        }
    </ul>
}
else
{
    @foreach (var language in Model.Languages)
     {
         <a href="@(ApplicationPath)AbpLocalization/ChangeCulture?cultureName=@(language.Name)&returnUrl=@(Context.Request.Path)" 
            class="item"
            title="@language.DisplayName" data-read-title="true">
             @language.DisplayName.Substring(0, 3)
         </a>
     }
}
<script>
    var Lang = "@Model.CurrentLanguage.Name";
</script>