﻿@using Kate.PartnerCompany.Dto
@model IEnumerable<PartnerCompanyTableDto>

@foreach (var item in Model.Where(a => a.ShowOnSite))
{
    <a href="@item.Link" target="_blank">
        <img src="@(FolderPaths.Value.ImageFolderPath + item.PartnerLogo)" width="200" />
    </a>
}