﻿@using Kate.DynamicMenu.ViewModels
@model CategoryMiddleStepViewModel

@{
    ViewData["Title"] = "MiddleLevel";
}

<div class="row">
    <div class="container">
        @Html.Partial("_HeaderStrip")

        <div class="col-md-10 col-sm-10 col-xs-10 d-flex col-centered justify-content-center lawyer-container flex-wrap">
            @foreach (var category in Model.ClildCategories)
            {
                <div class="col-md-5 col-sm-12 col-xs-12 lawyer" style="background-image: url('@(FolderPaths.Value.ImageFolderPath + category.MainPhotoPath)') ">
                    <a class="cover" asp-controller="@category.Controller" asp-action="@category.Action" asp-route-id="@category.Id">@category.CategoryName</a>
                </div>
            }
        </div>
    </div>
</div>