﻿@using Kate.Web.Startup
@using Kate.DynamicMenu.Dto
@using Kate.Web.Extensions
@model IEnumerable<DynamicMenuTableDto>
@{
    ViewBag.CurrentPageName = PageNames.DynamicMenu; // The menu item will be active for this page.
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    დინამიური მენიუ
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a id="RefreshButton" href="javascript:void(0);" class="waves-effect waves-block"><i class="material-icons">refresh</i>Refresh</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>სახელი</th>
                            <th>სორტირების ინდექსი</th>
                            <th>აღწერა</th>
                            <th>კატეგორიის ფორმატის ტიპი</th>
                            <th>მიმაგრებული სურათი</th>
                            <th>მიმაგრებული ფაილი word</th>
                            <th>მიმაგრებული ფაილი pdf</th>
                            <th>ჩანს თუ არა საიტზე</th>
                            <th>ჩანს თუ არა ფუტერის კატეგორიებში</th>
                            <th>გამოჩნდეს ნავიგაციაში მხოლოდ პატარა გაფართოების ეკრანზე</th>
                            <th>გამოჩნდეს მთავარი გვერდის ნავიგაციაში</th>
                            <th>მშობელი კატეგორია</th>
                            <th>საძიებო თაგები</th>
                            <th>მოქმედებები</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var category in Model)
                        {
                            <tr>
                                <td>@category.Translation.Name</td>
                                <td>@category.SortIndex</td>
                                <td data-toggle="modal" 
                                    data-target="#DescritionModal" 
                                    data-text="@category.Translation.Description" 
                                    onclick="$('.modal-text').html($(this).data('text'))">
                                @category.Translation.Description.Slice(70)
                                </td>
                                <td>
                                    @switch (category.CategoryType)
                                    {
                                        case Kate.EntityFrameworkCore.Entities.CategoryType.News:
                                            <span>სიახლე</span>;
                                            break;
                                        case Kate.EntityFrameworkCore.Entities.CategoryType.Home:
                                            <span>მთავარი</span>;
                                            break;
                                        case Kate.EntityFrameworkCore.Entities.CategoryType.Decisions:
                                            <span>პუბლიკაციები</span>;
                                            break;
                                        case Kate.EntityFrameworkCore.Entities.CategoryType.PhotoGallery:
                                            <span>ფოტო ვიდეო</span>;
                                            break;
                                        case Kate.EntityFrameworkCore.Entities.CategoryType.Aparat:
                                            <span>აპარატი</span>;
                                            break;
                                        case Kate.EntityFrameworkCore.Entities.CategoryType.Basic:
                                            <span>საბაზისო მარტივი გვერდი</span>;
                                            break;
                                        case Kate.EntityFrameworkCore.Entities.CategoryType.Disciplinary:
                                            <span>დისციპლინარული</span>;
                                            break;
                                    }
                                </td>
                                <td>
                                    @if (string.IsNullOrEmpty(category.MainPhotoPath))
                                    {
                                        <span>ფაილი არ არის მიმაგრებული</span>
                                    }
                                    else
                                    {
                                        <a href="@(FolderPaths.Value.ImageFolderPath + category.MainPhotoPath)">სურათის სანახავად დააჭირე</a>
                                    }
                                </td>
                                <td>
                                    @if (string.IsNullOrEmpty(category.WordFilePath))
                                    {
                                        <span>ფაილი არ არის მიმაგრებული</span>
                                    }
                                    else
                                    {
                                        <a href="@(FolderPaths.Value.PdfWordFolderPath + category.WordFilePath)">@category.FileUserReadableName</a>
                                    }
                                </td>
                                <td>
                                    @if (string.IsNullOrEmpty(category.PdfFilePath))
                                    {
                                        <span>ფაილი არ არის მიმაგრებული</span>
                                    }
                                    else
                                    {
                                        <a href="@(FolderPaths.Value.PdfWordFolderPath + category.PdfFilePath)">@category.FileUserReadableName</a>
                                    }
                                </td>
                                <td><i class="material-icons" style="color:@(category.ShowOnSite ? "green":"red");">@(category.ShowOnSite ? "check_box" : "indeterminate_check_box")</i></td>
                                <td><i class="material-icons" style="color:@(category.ShowOnMainPageBox ? "green":"red");">@(category.ShowOnMainPageBox ? "check_box" : "indeterminate_check_box")</i></td>
                                <td><i class="material-icons" style="color:@(category.DontShowOnResponsive ? "green":"red");">@(category.DontShowOnResponsive ? "check_box" : "indeterminate_check_box")</i></td>
                                <td><i class="material-icons" style="color:@(category.ShowInSideNavigation ? "green":"red");">@(category.ShowInSideNavigation ? "check_box" : "indeterminate_check_box")</i></td>
                                <td>@category.ParentName</td>
                                <td>
                                <td class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">menu</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        @foreach (var tag in category.SearchTags)
                                        {
                                            <li><a href="#" class="waves-effect waves-block edit-user"><i class="material-icons">edit</i>@tag.Tag</a></li>
                                        }
                                    </ul>
                                </td>

                                <td class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">menu</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li>
                                            <form asp-action="Delete" method="post">
                                                <input type="hidden" value="@category.Id" name="id" />
                                                <button type="submit" class="btn btn-primary">წაშლა</button>
                                            </form>
                                        </li>
                                        <li>
                                            <a class="waves-effect waves-block edit-user" asp-action="Manage" asp-controller="DynamicMenu" asp-route-id="@category.Id"><i class="material-icons">edit</i>რედაქტირება</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <a asp-action="Manage" asp-controller="DynamicMenu">
                    <button type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right">
                        <i class="material-icons">add</i>
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="DescritionModal" tabindex="-1" role="dialog" aria-labelledby="DescritionModal" data-backdrop="static">
    <div class="modal-dialog" role="dialog">
       
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">აღწერა</h4>
            </div>
            <span class="modal-text"></span>
        </div>
    </div>
</div>

