﻿z`@using Kate.DynamicMenu.Dto
@using Kate.Web.Areas.Admin.Models
@using Kate.EntityFrameworkCore.Entities
@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization
@model DynamicMenuManageDto
@{
    ViewData["Title"] = "Manage";
    int i = -1;
    int radioIndexer = -1;
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <a asp-controller="dynamicmenu" asp-action="index" style="padding-left:90%">უკან დაბრუნება</a>
        <div class="card">
            <div class="header">
                <h2>
                    კატეგორიის რედაქტირება
                </h2>
            </div>
            <div class="body">
                <form asp-action="Save" method="post" onsubmit="saveForm()" enctype="multipart/form-data">
                    <input type="hidden" asp-for="Id" />

                    <div class="row clearfix">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="card">
                                <div class="header">
                                    <h2></h2>
                                </div>
                                <div class="body">
                                    <div class="row clearfix">
                                        <div class="col-md-4">
                                            <input type="checkbox" id="basic_checkbox_1" @(Model.ShowOnSite ? "Checked" : "") value="true" name="ShowOnSite" />
                                            <label for="basic_checkbox_1">გამოჩნდეს თუ არა საიტზე</label>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="checkbox" id="basic_checkbox_2" @(Model.ShowOnMainPageBox ? "Checked" : "") value="true" name="ShowOnMainPageBox" />
                                            <label for="basic_checkbox_2">გამოჩნდეს ფუტერში</label>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="checkbox" id="basic_checkbox_32" @(Model.DontShowOnResponsive ? "Checked" : "") value="true" name="DontShowOnResponsive" />
                                            <label for="basic_checkbox_32">გამოჩნდეს ნავიგაციაში ხოლოდ პატარა გაფართოების ეკრანზე</label>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="checkbox" id="basic_checkbox_34" @(Model.ShowInSideNavigation ? "Checked" : "") value="true" name="ShowInSideNavigation" />
                                            <label for="basic_checkbox_34">გამოჩნდეს მთავარი გვერდის ნავიგაციაში</label>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="number" class="form-control" value="@Model.SortIndex" name="SortIndex" />
                                            <label>სორტირების ინდექსი</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>
                                                <b>მიმაგრებული ფაილის დასახელება</b>
                                            </p>
                                            <div class="input-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" placeholder="ტექსტი" value="@Model.FileUserReadableName" name="FileUserReadableName">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            @foreach (CategoryType type in Enum.GetValues(typeof(CategoryType)))
                                            {
                                                { radioIndexer++; }

                                                <input type="radio" id="radio_@radioIndexer" value="@type" name="CategoryType" @(Model.CategoryType == type ? "Checked" : "") />
                                                <label for="radio_@radioIndexer">@type</label>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @Html.Partial("_Dropdown", new DropdownWiewModel { DropdownName = "მშობელი კატეგორია", Dropdown = Model.Dropdown, BindName = "SelectedParentCategoryId" })
                    </div>
                    <div class="row clearfix">
                        @Html.Partial("_UploadPhoto", Model.MainPhotoPath)
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="card">
                                <div class="header">
                                    <h2>
                                        სქემა
                                    </h2>
                                </div>
                                <div class="body">
                                    <button type="button" class="btn bg-orange waves-effect" id="addScheme">
                                        <span>სქემის დამატება</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        @Html.Partial("_UploadFiles", new UploadFileViewModel { FileUserReadableName = Model.FileUserReadableName, PdfFilePath = Model.PdfFilePath, WordFilePath = Model.WordFilePath })
                    </div>

                    @Html.Partial("_Tags", Model.Tags)

                    @foreach (var translation in Model.Translations)
                    {
                        { i++; }

                        @Html.Partial("_StandartTranslation", new TranslationViewModel { Indexer = i, Translation = translation })
                    }

                    <input type="hidden" id="scheme-svg" name="schemeSvg" />

                    <div id="hidden">
                        @{
                            var x = 0;

                            if (Model.SchemeItems != null)
                            {
                                foreach (var schemeItemViewModel in Model.SchemeItems.ToList())
                                {
                                    <input type="hidden" name="SchemeItems[@x].X" value="@schemeItemViewModel.X" />
                                    <input type="hidden" name="SchemeItems[@x].Y" value="@schemeItemViewModel.Y" />
                                    <input type="hidden" name="SchemeItems[@x].Width" value="@schemeItemViewModel.Width" />
                                    <input type="hidden" name="SchemeItems[@x].Height" value="@schemeItemViewModel.Height" />
                                    <input type="hidden" name="SchemeItems[@x].Value" value="@schemeItemViewModel.Value" />
                                    <input type="hidden" name="SchemeItems[@x].ConnectToId" value="@schemeItemViewModel.ConnectToId" />
                                    <input type="hidden" name="SchemeItems[@x].SourceId" value="@schemeItemViewModel.SourceId" />
                                    <input type="hidden" name="SchemeItems[@x].Style" value="@schemeItemViewModel.Style" />
                                    x++;
                                }
                            }
                        }
                    </div>

                    <div class="saveButtonCenter">
                        <button type="submit" class="btn bg-orange waves-effect">
                            <i class="material-icons">save</i>
                            <span>შენახვა</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="graphContainer" style="overflow:auto;position:absolute;width:100%;height:100%;background:lightyellow;cursor:default; display: none;"></div>
@section scripts {
    <script type="text/javascript">
        mxBasePath = '/src';

        var schemes = @Html.Raw(JsonConvert.SerializeObject(Model.SchemeItems, new JsonSerializerSettings { ContractResolver = new CamelCasePropertyNamesContractResolver() }))
    </script>

    <script src="/mxClient.min.js"></script>
    <script src="/js/underscore-min.js"></script>

    <script>
            mxConnectionHandler.prototype.connectImage = new mxImage('/images/connector.gif', 16, 16);

        function mxIconSet(state) {
            this.images = [];
            var graph = state.view.graph;

            // Icon1
            var img = mxUtils.createImage('/images/copy.png');
            img.setAttribute('title', 'Duplicate');
            img.style.position = 'absolute';
            img.style.cursor = 'pointer';
            img.style.width = '16px';
            img.style.height = '16px';
            img.style.left = (state.x + state.width) + 'px';
            img.style.top = (state.y + state.height) + 'px';

            mxEvent.addGestureListeners(img,
                mxUtils.bind(this, function (evt) {
                    var s = graph.gridSize;
                    graph.setSelectionCells(graph.moveCells([state.cell], s, s, true));
                    mxEvent.consume(evt);
                    this.destroy();
                })
            );

            state.view.graph.container.appendChild(img);
            this.images.push(img);

            // Delete
            var img = mxUtils.createImage('/images/delete2.png');
            img.setAttribute('title', 'Delete');
            img.style.position = 'absolute';
            img.style.cursor = 'pointer';
            img.style.width = '16px';
            img.style.height = '16px';
            img.style.left = (state.x + state.width) + 'px';
            img.style.top = (state.y - 16) + 'px';

            mxEvent.addGestureListeners(img,
                mxUtils.bind(this, function (evt) {
                    // Disables dragging the image
                    mxEvent.consume(evt);
                })
            );

            mxEvent.addListener(img, 'click',
                mxUtils.bind(this, function (evt) {
                    graph.removeCells([state.cell]);
                    mxEvent.consume(evt);
                    this.destroy();
                })
            );

            state.view.graph.container.appendChild(img);
            this.images.push(img);
        };

        mxIconSet.prototype.destroy = function () {
            if (this.images != null) {
                for (var i = 0; i < this.images.length; i++) {
                    var img = this.images[i];
                    img.parentNode.removeChild(img);
                }
            }

            this.images = null;
        };

        function main(container) {
            if (!mxClient.isBrowserSupported()) {
                mxUtils.error('Browser is not supported!', 200, false);
            }
            else {
                var wnd = new mxWindow('სქემის გაკეთება', container, 500, 50, 1000, 500, true, true);

                // Snaps to fixed points
                mxConstraintHandler.prototype.intersects = function (icon, point, source, existingEdge) {
                    return (!source || existingEdge) || mxUtils.intersects(icon.bounds, point);
                };

                // Special case: Snaps source of new connections to fixed points
                // Without a connect preview in connectionHandler.createEdgeState mouseMove
                // and getSourcePerimeterPoint should be overriden by setting sourceConstraint
                // sourceConstraint to null in mouseMove and updating it and returning the
                // nearest point (cp) in getSourcePerimeterPoint (see below)
                var mxConnectionHandlerUpdateEdgeState = mxConnectionHandler.prototype.updateEdgeState;
                mxConnectionHandler.prototype.updateEdgeState = function (pt, constraint) {
                    if (pt != null && this.previous != null) {
                        var constraints = this.graph.getAllConnectionConstraints(this.previous);
                        var nearestConstraint = null;
                        var dist = null;

                        for (var i = 0; i < constraints.length; i++) {
                            var cp = this.graph.getConnectionPoint(this.previous, constraints[i]);

                            if (cp != null) {
                                var tmp = (cp.x - pt.x) * (cp.x - pt.x) + (cp.y - pt.y) * (cp.y - pt.y);

                                if (dist == null || tmp < dist) {
                                    nearestConstraint = constraints[i];
                                    dist = tmp;
                                }
                            }
                        }

                        if (nearestConstraint != null) {
                            this.sourceConstraint = nearestConstraint;
                        }

                        // In case the edge style must be changed during the preview:
                        // this.edgeState.style['edgeStyle'] = 'orthogonalEdgeStyle';
                        // And to use the new edge style in the new edge inserted into the graph,
                        // update the cell style as follows:
                        //this.edgeState.cell.style = mxUtils.setStyle(this.edgeState.cell.style, 'edgeStyle', this.edgeState.style['edgeStyle']);
                    }

                    mxConnectionHandlerUpdateEdgeState.apply(this, arguments);
                };


                var graph = new mxGraph(container);
                graph.setConnectable(true);

                graph.addMouseListener(
                    {
                        currentState: null,
                        currentIconSet: null,
                        mouseDown: function (sender, me) {
                            // Hides icons on mouse down
                            if (this.currentState != null) {
                                this.dragLeave(me.getEvent(), this.currentState);
                                this.currentState = null;
                            }

                            if (me.evt.button === 2) {
                                graph.insertVertex(parent, null, 'Scheme', me.evt.layerX, me.evt.layerY, 80, 30);
                            }
                        },
                        mouseMove: function (sender, me) {
                            //if (this.currentState != null && (me.getState() == this.currentState ||
                            //    me.getState() == null)) {
                            //    var tol = iconTolerance;
                            //    var tmp = new mxRectangle(me.getGraphX() - tol,
                            //        me.getGraphY() - tol, 2 * tol, 2 * tol);

                            //    if (mxUtils.intersects(tmp, this.currentState)) {
                            //        return;
                            //    }
                            //}

                            var tmp = graph.view.getState(me.getCell());

                            // Ignores everything but vertices
                            if (graph.isMouseDown || (tmp != null && !graph.getModel().isVertex(tmp.cell))) {
                                tmp = null;
                            }

                            if (tmp != this.currentState) {
                                if (this.currentState != null) {
                                    this.dragLeave(me.getEvent(), this.currentState);
                                }

                                this.currentState = tmp;

                                if (this.currentState != null) {
                                    this.dragEnter(me.getEvent(), this.currentState);
                                }
                            }
                        },
                        mouseUp: function (sender, me) { },
                        dragEnter: function (evt, state) {
                            if (this.currentIconSet == null) {
                                this.currentIconSet = new mxIconSet(state);
                            }
                        },
                        dragLeave: function (evt, state) {
                            if (this.currentIconSet != null) {
                                this.currentIconSet.destroy();
                                this.currentIconSet = null;
                            }
                        }
                    });


                var keyHandler = new mxKeyHandler(graph);

                // Assigns the delete key
                keyHandler.bindKey(46, function (evt) {
                    if (graph.isEnabled()) {
                        graph.removeCells();
                    }
                });

                graph.setTooltips(true);
                graph.setPanning(true);
                var rubberband = new mxRubberband(graph);
                new mxKeyHandler(graph);

                mxEvent.disableContextMenu(container);

                var parent = graph.getDefaultParent();

                if (graph.connectionHandler.connectImage == null) {
                    graph.connectionHandler.isConnectableCell = function (cell) {
                        return false;
                    };
                    mxEdgeHandler.prototype.isConnectableCell = function (cell) {
                        return graph.connectionHandler.isConnectableCell(cell);
                    };
                }

                graph.getAllConnectionConstraints = function (terminal) {
                    if (terminal != null && this.model.isVertex(terminal.cell)) {
                        return [new mxConnectionConstraint(new mxPoint(0, 0), true),
                        new mxConnectionConstraint(new mxPoint(0.5, 0), true),
                        new mxConnectionConstraint(new mxPoint(1, 0), true),
                        new mxConnectionConstraint(new mxPoint(0, 0.5), true),
                        new mxConnectionConstraint(new mxPoint(1, 0.5), true),
                        new mxConnectionConstraint(new mxPoint(0, 1), true),
                        new mxConnectionConstraint(new mxPoint(0.5, 1), true),
                        new mxConnectionConstraint(new mxPoint(1, 1), true)];
                    }

                    return null;
                };

                window.graphs = graph;

                // Connect preview
                graph.connectionHandler.createEdgeState = function (me) {
                    var edge = graph.createEdge(null, null, null, null, null, 'exitX=0.5;exitY=1;exitPerimeter=1;entryX=0;entryY=0;entryPerimeter=1;');

                    return new mxCellState(this.graph.view, edge, this.graph.getCellStyle(edge));
                };

                // Creates the default style for vertices
                var style = [];
                style[mxConstants.STYLE_SHAPE] = mxConstants.SHAPE_RECTANGLE;
                style[mxConstants.STYLE_PERIMETER] = mxPerimeter.RectanglePerimeter;
                style[mxConstants.STYLE_ROUNDED] = true;
                style[mxConstants.STYLE_FILLCOLOR] = '#eae4e8';
                style[mxConstants.STYLE_GRADIENTCOLOR] = '#d07099';
                style[mxConstants.STYLE_FONTCOLOR] = '#000';
                style[mxConstants.STYLE_ALIGN] = mxConstants.ALIGN_CENTER;
                style[mxConstants.STYLE_VERTICAL_ALIGN] = mxConstants.ALIGN_MIDDLE;
                style[mxConstants.STYLE_FONTSIZE] = '12';
                style[mxConstants.STYLE_FONTSTYLE] = 1;
                graph.getStylesheet().putDefaultVertexStyle(style);

                //// Creates the default style for edges
                style = [];
                style[mxConstants.STYLE_SHAPE] = mxConstants.SHAPE_CONNECTOR;
                style[mxConstants.STYLE_STROKECOLOR] = '#3D353A';
                style[mxConstants.STYLE_ENDARROW] = mxConstants.ARROW_CLASSIC;
                style[mxConstants.STYLE_FONTSIZE] = '10';
                graph.getStylesheet().putDefaultEdgeStyle(style);

                graph.getModel().beginUpdate();
                try {
                    if (schemes !== null) {
                        for (var i = 0; i < schemes.length; i++) {
                            if (schemes[i].value === null)
                                continue;

                            graph.insertVertex(parent, schemes[i].sourceId, schemes[i].value, schemes[i].x, schemes[i].y, schemes[i].width, schemes[i].height);
                        }

                        for (var x = 0; x < schemes.length; x++) {
                            if (schemes[x].connectToId === null && schemes[x].connectToId === "undefined")
                                continue;

                            graph.selectAll();
                            var cells = graph.getSelectionCells();

                            var connectFrom = _.find(cells, function (currentGraph) {
                                return currentGraph.id === schemes[x].sourceId;
                            });

                            var connectTo = _.find(cells, function (currentGraph) {
                                return currentGraph.id === schemes[x].connectToId;
                            });

                            if (!connectFrom || !connectTo)
                                continue;

                            graph.insertEdge(parent, null, '', connectFrom, connectTo);
                        }
                    } else {
                        graph.insertVertex(parent, null, 'Scheme', 20, 20, 80, 30);
                    }
                }
                finally {
                    graph.getModel().endUpdate();
                    graph.getSelectionModel().clear();
                }

                wnd.setMaximizable(true);
                wnd.setResizable(true);
                wnd.setVisible(true);

                mxLog.show();
            }
        };

        function saveForm(e) {
            var $html = $("#graphContainer").html();

            $('#scheme-svg').val($html);

            var vertexes = [];

            var graphicVertexes = graphs.selectAll();
            var graphicCells = graphs.getSelectionCells();

            for (var i = 0; i < graphicCells.length; i++) {
                var item = graphicCells[i];

                if (item.source && item.target) {
                    vertexes.push({
                        sourceId: item.source.id,
                        connectToId: item.target.id,
                        style: item.style
                    });

                    continue;
                }

                vertexes.push({
                    x: item.geometry.x,
                    y: item.geometry.y,
                    width: item.geometry.width,
                    height: item.geometry.height,
                    value: item.value,
                    sourceId: item.id
                });
            }

            $('#hidden').html('');

            for (var x = 0; x < vertexes.length; x++) {
                var item = vertexes[x];

                if (item.connectToId && item.connectToId !== undefined) {
                    $('#hidden').append('<input type="hidden" name="SchemeItems[' + x + '].connectToId" value="' + item.connectToId + '" />');
                    $('#hidden').append('<input type="hidden" name="SchemeItems[' + x + '].style" value="' + item.style || null + '" />');
                } else {
                    $('#hidden').append('<input type="hidden" name="SchemeItems[' + x + '].x" value="' + item.x + '" />');
                    $('#hidden').append('<input type="hidden" name="SchemeItems[' + x + '].y" value="' + item.y + '" />');
                    $('#hidden').append('<input type="hidden" name="SchemeItems[' + x + '].width" value="' + item.width + '" />');
                    $('#hidden').append('<input type="hidden" name="SchemeItems[' + x + '].height" value="' + item.height + '" />');
                    $('#hidden').append('<input type="hidden" name="SchemeItems[' + x + '].value" value="' + item.value + '" />');
                }

                $('#hidden').append('<input type="hidden" name="SchemeItems[' + x + '].sourceId" value="' + item.sourceId + '" />');
            }

            window.graphs.getSelectionModel().clear();
            $('rect[fill]').attr('fill', 'url(#lgrad)');
            $(e.target).submit();
        }

        $('#addScheme').click(function () {
            $('#graphContainer').show();
            main(document.getElementById('graphContainer'));
        });
    </script>
}