﻿@using Kate.Web.Startup
@using Kate.StaffPerson.Dto
@using Kate.Web.Extensions
@model IEnumerable<StaffPersonTableDto>
@{
    ViewBag.CurrentPageName = PageNames.StaffPerson; // The menu item will be active for this page.
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    სტაფი
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a id="RefreshButton" href="javascript:void(0);" class="waves-effect waves-block"><i class="material-icons">refresh</i>Refresh</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>სახელი</th>
                            <th>სორტირების ინდექსი</th>
                            <th>გვარი</th>
                            <th>პოზიცია</th>
                            <th>აღწერა</th>
                            <th>სათაური</th>
                            <th>დაბადების თარიღი</th>
                            <th>მიმაგრებული სურათი</th>
                            <th>მიმაგრებული ფაილი word</th>
                            <th>მიმაგრებული ფაილი pdf</th>
                            <th>ჩანს თუ არა საიტზე</th>
                            <th>კატეგორია</th>
                            <th>მოქმედებები</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var staffPerson in Model)
                        {
                            <tr>
                                <td>@staffPerson.Translation.Name</td>
                                <td>@staffPerson.SortIndex</td>
                                <td>@staffPerson.Translation.Surname</td>
                                <td>@staffPerson.Translation.Possition</td>
                                <td data-toggle="modal"
                                    data-target="#DescritionModal"
                                    data-text="@staffPerson.Translation.ResumeDescription"
                                    onclick="$('.modal-text').html($(this).data('text'))">
                                    @staffPerson.Translation.ResumeDescription.Slice(70)
                                </td>
                                <td>@Html.Raw(staffPerson.Translation.HeaderText)</td>
                                <td>@staffPerson.DateOfBirth</td>
                                <td>
                                    @if (string.IsNullOrEmpty(staffPerson.MainPhotoPath))
                                    {
                                        <span>ფაილი არ არის მიმაგრებული</span>
                                    }
                                    else
                                    {
                                        <a href="@(FolderPaths.Value.ImageFolderPath + staffPerson.MainPhotoPath)">სურათის სანახავად დააჭირე</a>
                                    }
                                </td>
                                <td>
                                    @if (string.IsNullOrEmpty(staffPerson.WordFilePath))
                                    {
                                        <span>ფაილი არ არის მიმაგრებული</span>
                                    }
                                    else
                                    {
                                        <a href="@(FolderPaths.Value.PdfWordFolderPath + staffPerson.WordFilePath)">@staffPerson.FileUserReadableName</a>
                                    }
                                </td>
                                <td>
                                    @if (string.IsNullOrEmpty(staffPerson.PdfFilePath))
                                    {
                                        <span>ფაილი არ არის მიმაგრებული</span>
                                    }
                                    else
                                    {
                                        <a href="@(FolderPaths.Value.PdfWordFolderPath + staffPerson.PdfFilePath)">@staffPerson.FileUserReadableName</a>
                                    }
                                </td>
                                <td>
                                    <i class="material-icons" style="color:@(staffPerson.ShowOnSite ? "green":"red");">
                                        @(staffPerson.ShowOnSite ? "check_box" : "indeterminate_check_box")
                                    </i>
                                </td>
                                <td>@staffPerson.CategoryName</td>

                                <td class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">menu</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li>
                                            <form asp-action="Delete" method="post">
                                                <input type="hidden" value="@staffPerson.Id" name="id" />
                                                <button type="submit" class="btn btn-primary">წაშლა</button>
                                            </form>
                                        </li>
                                        <li>
                                            <a class="waves-effect waves-block edit-user"
                                               asp-action="Manage"
                                               asp-controller="StaffPerson"
                                               asp-route-id="@staffPerson.Id"><i class="material-icons">edit</i>რედაქტირება</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <a asp-action="Manage" asp-controller="StaffPerson">
                    <button type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right">
                        <i class="material-icons">add</i>
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="DescritionModal" tabindex="-1" role="dialog" aria-labelledby="DescritionModal" data-backdrop="static">
    <div class="modal-dialog" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">აღწერა</h4>
            </div>
            <span class="modal-text"></span>
        </div>
    </div>
</div>