﻿@using Kate.StaffPerson.Dto
@using Kate.Web.Areas.Admin.Models
@using Kate.Localization;
@model StaffPersonManageDto
@{
    ViewData["Title"] = "Manage";
    int i = -1;
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <a asp-controller="StaffPerson" asp-action="index" style="padding-left:90%">უკან დაბრუნება</a>
        <div class="card">
            <div class="header">
                <h2>
                    სტატიის რედაქტირება
                </h2>
            </div>
            <div class="body">
                <form asp-action="Save" method="post" enctype="multipart/form-data">
                    <input type="hidden" asp-for="Id" />

                    <div class="row clearfix">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="card">
                                <div class="header">
                                    <h2></h2>
                                </div>
                                <div class="body">
                                    <div class="row clearfix">
                                        <div class="col-md-6">
                                            <input type="checkbox" id="basic_checkbox_1" @(Model.ShowOnSite ? "Checked" : "") value="true" name="ShowOnSite" />
                                            <label for="basic_checkbox_1">გამოჩნდეს თუ არა საიტზე</label>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="number" class="form-control" value="@Model.SortIndex" name="SortIndex" />
                                            <label>სორტირების ინდექსი</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>
                                                <b>მიმაგრებული ფაილის დასახელება</b>
                                            </p>
                                            <div class="input-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" placeholder="ტექსტი" value="@Model.FileUserReadableName" name="FileUserReadableName">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <p>
                                                <b>დაბადების თარიღი</b>
                                            </p>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="datepicker form-control" placeholder="Please choose a date..."
                                                           value="@(Model.DateOfBirth != DateTime.MinValue ? Model.DateOfBirth.ToString() : "")" name="DateOfBirth">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @Html.Partial("_Dropdown", new DropdownWiewModel { DropdownName = "კატეგორია", Dropdown = Model.Dropdown, BindName = "SelectedCategoryId" })
                    </div>
                    <div class="row clearfix">
                        @Html.Partial("_UploadPhoto", Model.MainPhotoPath)
                        @Html.Partial("_UploadFiles", new UploadFileViewModel { FileUserReadableName = Model.FileUserReadableName, PdfFilePath = Model.PdfFilePath, WordFilePath = Model.WordFilePath })
                    </div>


                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-group-lg">
                                <div class="form-line">
                                    <input type="text" class="form-control" placeholder="გთხოვთ ჩაწეროთ მეილი" name="Mail" value="@Model.Mail" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-group-lg">
                                <div class="form-line">
                                    <input type="text" class="form-control" placeholder="გთხოვთ ჩაწეროთ ნომერი" name="PhoneNumber" value="@Model.PhoneNumber" />
                                </div>
                            </div>
                        </div>
                    </div>

                    @foreach (var translation in Model.Translations)
                    {
                        { i++; }

                        <input type="hidden" value="@translation.Id" name="Translations[@i].Id" />
                        <input type="hidden" value="@translation.LanguageId" name="Translations[@i].LanguageId" />

                        @switch (translation.LanguageId)
                        {
                            case (int)LanguageEnum.English:
                                <h2 class="card-inside-title">სახელი ინგლისურად</h2>
                                break;
                            case (int)LanguageEnum.Georgian:
                                <h2 class="card-inside-title">სახელი ქართულად</h2>
                                break;
                            case (int)LanguageEnum.French:
                                <h2 class="card-inside-title">სახელი ფრანგულად</h2>
                                break;
                            case (int)LanguageEnum.German:
                                <h2 class="card-inside-title">სახელი რუსულად</h2>
                                break;
                        }

                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group form-group-lg">
                                    <div class="form-line">
                                        <input type="text" class="form-control" placeholder="გთხოვთ ჩაწეროთ სახელი" name="Translations[@i].Name" value="@translation.Name" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        @switch (translation.LanguageId)
                        {
                            case (int)LanguageEnum.English:
                                <h2 class="card-inside-title">გვარი ინგლისურად</h2>
                                break;
                            case (int)LanguageEnum.Georgian:
                                <h2 class="card-inside-title">გვარი ქართულად</h2>
                                break;
                            case (int)LanguageEnum.French:
                                <h2 class="card-inside-title">გვარი ფრანგულად</h2>
                                break;
                            case (int)LanguageEnum.German:
                                <h2 class="card-inside-title">გვარი რუსულად</h2>
                                break;
                        }

                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group form-group-lg">
                                    <div class="form-line">
                                        <input type="text" class="form-control" placeholder="გთხოვთ ჩაწეროთ გვარი" name="Translations[@i].Surname" value="@translation.Surname" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        @switch (translation.LanguageId)
                        {
                            case (int)LanguageEnum.English:
                                <h2 class="card-inside-title">პოზიცია ინგლისურად</h2>
                                break;
                            case (int)LanguageEnum.Georgian:
                                <h2 class="card-inside-title">პოზიცია ქართულად</h2>
                                break;
                            case (int)LanguageEnum.French:
                                <h2 class="card-inside-title">პოზიცია ფრანგულად</h2>
                                break;
                            case (int)LanguageEnum.German:
                                <h2 class="card-inside-title">პოზიცია რუსულად</h2>
                                break;
                        }

                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group form-group-lg">
                                    <div class="form-line">
                                        <input type="text" class="form-control" placeholder="გთხოვთ ჩაწეროთ პოზიცია" name="Translations[@i].Possition" value="@translation.Possition" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        @switch (translation.LanguageId)
                        {
                            case (int)LanguageEnum.English:
                                <h2 class="card-inside-title">სათაური ინგლისურად</h2>
                                break;
                            case (int)LanguageEnum.Georgian:
                                <h2 class="card-inside-title">სათაური ქართულად</h2>
                                break;
                            case (int)LanguageEnum.French:
                                <h2 class="card-inside-title">სათაური ფრანგულად</h2>
                                break;
                            case (int)LanguageEnum.German:
                                <h2 class="card-inside-title">სათაური რუსულად</h2>
                                break;
                        }

                        <textarea id="ckeditor-@(i+10)" name="Translations[@i].HeaderText">@translation.HeaderText</textarea>

                        @switch (translation.LanguageId)
                        {
                            case (int)LanguageEnum.English:
                                <h2 class="card-inside-title">აღწერა ინგლისურად</h2>
                                break;
                            case (int)LanguageEnum.Georgian:
                                <h2 class="card-inside-title">აღწერა ქართულად</h2>
                                break;
                            case (int)LanguageEnum.French:
                                <h2 class="card-inside-title">აღწერა ფრანგულად</h2>
                                break;
                            case (int)LanguageEnum.German:
                                <h2 class="card-inside-title">აღწერა რუსულად</h2>
                                break;
                        }

                        <textarea id="ckeditor-@i" name="Translations[@i].ResumeDescription">@translation.ResumeDescription</textarea>
                    }

                    <div class="saveButtonCenter">
                        <button type="submit" class="btn bg-orange waves-effect">
                            <i class="material-icons">save</i>
                            <span>შენახვა</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>