﻿@using Kate.Disciplinary.ViewModels
@model OuterPageViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="container">
        @Html.Partial("_HeaderStrip")

        <div class="col-md-12 col-sm-12 col-xs-12 d-flex align-items-center small col-centered justify-content-center lawyer-container  flex-wrap no-bottom-margin">
            @for (int i = 0; i < Model.Disciplinaries.Count(); i++)
            {
                <div class="col-md-2 col-sm-12 col-xs-12 lawyer small" style="background-image: url('@(FolderPaths.Value.ImageFolderPath + Model.Disciplinaries[i].PhotoPath)');">
                    <a class="cover" asp-action="ReadMore" asp-route-id="@Model.Disciplinaries[i].Id">@Html.Raw(Model.Disciplinaries[i].Name)</a>
                </div>
                if (i < Model.Disciplinaries.Count() - 1)
                {
                    <div class="col-md-2">
                        <div class="arrow-right"></div>
                    </div>
                }
            }
        </div>
        <div class="col-md-12 col-xs-11 col-centered text-container italic font-italic mb-2 mt-3 remove-padding big-text">
            @Html.Raw(Model.Description)
        </div>
        @if (!string.IsNullOrEmpty(Model.SchemeSvg))
        {
            if (ViewBag.cl == "ka")
            {
                <div class="col-md-12" style="margin-top: 50px; margin-bottom: 50px; overflow:auto">
                    @Html.Raw(Model.SchemeSvg)
                </div>
            }
            else
            {
                <div class="col-md-12" style="margin-top: 50px; margin-bottom: 50px; overflow:auto">
                    <img src="@(FolderPaths.Value.ImageFolderPath + Model.PhotoPath)">
                </div>
            }

        }
    </div>
</div>

@section scripts {
    <script>
        $('rect[fill]').attr('fill', 'url(#lgrad)').css('color: #fff;');
        $('text').css('fill', '#fff');
        $(".container").css("margin-bottom", "-200px");
    </script>
}

<svg xmlns="http://www.w3.org/2000/svg" width="200px" height="200px">
    <defs>
        <linearGradient id="lgrad" x1="50%" y1="0%" x2="50%" y2="100%">
            <stop offset="0%" style="stop-color:rgb(90,72,82);stop-opacity:1" />
            <stop offset="18%" style="stop-color:rgb(90,72,82);stop-opacity:1" />
            <stop offset="100%" style="stop-color:rgb(90,72,82);stop-opacity:1" />
        </linearGradient>
    </defs>
</svg>
