﻿@model string
@{
    ViewData["Title"] = "ReadMore";
}

<div class="row">
    <div class="container">
        @Html.Partial("_HeaderStrip")

        <div class="col-md-10 col-centered text-container italic font-italic mb-2 mt-3 styled-ul">
            @Html.Raw(Model)
        </div>
    </div>
</div>