﻿@using Kate.Web.Startup
@using Kate.PhotoVideoGallery.Dto
@model IEnumerable<PhotoVideoGalleryTableDto>
@{
    ViewBag.CurrentPageName = PageNames.PhotoVideoGallery; // The menu item will be active for this page.
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    გალერია
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a id="RefreshButton" href="javascript:void(0);" class="waves-effect waves-block"><i class="material-icons">refresh</i>Refresh</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>სახელი</th>   
                            <th>აღწერა</th>
                            <th>კატეგორია</th>
                            <th>საძიებო თაგები</th>
                            <th>მოქმედებები</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var PhotoVideoGallery in Model)
                        {
                            <tr>
                                <td>@PhotoVideoGallery.Translation.Name</td>
                                <td>@Html.Raw(PhotoVideoGallery.Translation.Description)</td>
                                <td>@PhotoVideoGallery.CategoryName</td>
                                <td class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">menu</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        @foreach (var tag in PhotoVideoGallery.SearchTags)
                                        {
                                            <li><a href="#" class="waves-effect waves-block edit-user"><i class="material-icons">edit</i>@tag.Tag</a></li>
                                        }
                                    </ul>
                                </td>

                                <td class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">menu</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li>
                                            <form asp-action="Delete" method="post">
                                                <input type="hidden" value="@PhotoVideoGallery.Id" name="id" />
                                                <button type="submit" class="btn btn-primary">წაშლა</button>
                                            </form>
                                        </li>
                                        <li>
                                            <a class="waves-effect waves-block edit-user" asp-action="Manage" asp-controller="PhotoVideoGallery" asp-route-id="@PhotoVideoGallery.Id"><i class="material-icons">edit</i>რედაქტირება</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <a asp-action="Manage" asp-controller="PhotoVideoGallery">
                    <button type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right">
                        <i class="material-icons">add</i>
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>