﻿@using Kate.PhotoVideoGallery.Dto
@using Kate.Web.Areas.Admin.Models
@model PhotoVideoGalleryManageDto
@{
    ViewData["Title"] = "Manage";
    int i = -1;
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <a asp-controller="PhotoVideoGallery" asp-action="index" style="padding-left:80%">უკან დაბრუნება</a>
        <div class="card">
            <div class="header">
                <h2>
                    გალერია
                </h2>
            </div>
            <div class="body">
                <div class="row clearfix">
                    <form asp-action="Save" method="post" enctype="multipart/form-data">
                        <input type="hidden" asp-for="Id" />
                        <div class="row clearfix">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="card">
                                    <div class="header">
                                        <h2></h2>
                                    </div>
                                    <div class="body">
                                        <div class="row clearfix">
                                            <div class="col-md-4">
                                                <input type="checkbox" id="basic_checkbox_1" @(Model.ShowOnSite ? "Checked" : "") value="true" name="ShowOnSite" />
                                                <label for="basic_checkbox_1">ვაჩვენოთ საიტზე</label>
                                            </div>
                                            <div class="col-md-4">
                                                <input type="checkbox" id="basic_checkbox_2" @(Model.ShowOnMainPageBox ? "Checked" : "") value="true" name="ShowOnMainPageBox" />
                                                <label for="basic_checkbox_2">ვაჩვენოთ მთავარ გვედზე</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @Html.Partial("_Dropdown", new DropdownWiewModel { DropdownName = "კატეგორია", Dropdown = Model.Dropdown, BindName = "SelectedCategoryId" })

                        </div>

                        @Html.Partial("_Tags", Model.Tags)

                        <div class="row clearfix">
                            @Html.Partial("_DynamicFileUpload", Model)
                        </div>

                        @foreach (var translation in Model.Translations)
                        {
                            { i++; }

                            @Html.Partial("_StandartTranslation", new TranslationViewModel { Indexer = i, Translation = translation });
                        }

                        <div class="saveButtonCenter">
                            <button type="submit" class="btn bg-orange waves-effect">
                                <i class="material-icons">save</i>
                                <span>შენახვა</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts { 
        <script src="~/lib/ckeditor/ckeditor.js"></script>
        <script src="~/js/editors.js"></script> 
}