﻿@using Kate.Web.Startup
@using Kate.PartnerCompany.Dto
@model IEnumerable<PartnerCompanyTableDto>
@{
    ViewBag.CurrentPageName = PageNames.PartnerCompany;
}
@section scripts
    { 
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    პარტნიორი კომპანიები
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a id="RefreshButton" href="javascript:void(0);" class="waves-effect waves-block"><i class="material-icons">refresh</i>Refresh</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ლოგო</th>
                            <th>ვაჩვენოთ</th>
                            <th>ვაჩვენოთ მთავარ გვერძე</th>
                            <th>მისამართი</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var partnerCompany in Model)
                        {
                            <tr>
                                <td>
                                    @if (string.IsNullOrEmpty(partnerCompany.PartnerLogo))
                                    {
                                        <span>ფაილი არ არის მიმაგრებული</span>
                                    }
                                    else
                                    {
                                        <a href="@(FolderPaths.Value.ImageFolderPath + partnerCompany.PartnerLogo)">სურათის სანახავად დააჭირე</a>
                                    }
                                </td>
                                <td><i class="material-icons" style="color:@(partnerCompany.ShowOnSite ? "green":"red");">@(partnerCompany.ShowOnSite ? "check_box" : "indeterminate_check_box")</i></td>
                                <td><i class="material-icons" style="color:@(partnerCompany.ShowOnMainPageBox ? "green":"red");">@(partnerCompany.ShowOnMainPageBox ? "check_box" : "indeterminate_check_box")</i></td>
                                <td>@partnerCompany.Link</td>
                                <td class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">menu</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li>
                                            <form asp-action="Delete" method="post">
                                                <input type="hidden" value="@partnerCompany.Id" name="id" />
                                                <button type="submit" class="btn btn-primary">წაშლა</button>
                                            </form>
                                        </li>
                                        <li>
                                            <a class="waves-effect waves-block edit-user" asp-action="Manage" asp-controller="PartnerCompany" asp-route-id="@partnerCompany.Id"><i class="material-icons">edit</i>რედაქტირება</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" data-toggle="modal" data-target="#UserCreateModal" onclick="location.href='@Url.Action("Manage")'">
                    <i class="material-icons">add</i>
                </button>
            </div>
        </div>
    </div>
</div>


