﻿@using Kate.Web.Startup
@using Kate.AboutUs.Dto;
@model AboutUsReadDto
@{
    ViewBag.CurrentPageName = PageNames.About; // The menu item will be active for this page.
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <a asp-controller="about" asp-action="manage" style="padding-left:90%">რედაქტირება</a>
        <div class="card">
            <div class="header">
                <h2>
                   @Model.Translation.Name
                </h2>
            </div>
            <div class="body">
                    @Html.Raw(Model.Translation.Description)
            </div>
        </div>
    </div>
</div>