﻿@model Kate.Web.Models.Contact.ContactViewModel
@{
    ViewData["Title"] = "Contact";
}

<div class="row">
    <form asp-controller="Contact" asp-action="Send" method="post" enctype="multipart/form-data">
        <div class="container" id="contact-conteiner">
            <div class="col-md-12">
                <div class="article-header-strip">
                    <h2>@L("Form-Contact")</h2>
                    <img src="~/images/inner/articleHeadHammer.png" />
                </div>
            </div>
            <div class="col-md-12 contact-content-wrapper">
                @if (TempData["success"] != null)
                {
                    <h3 style="text-align: center;">@L("mail-sent")</h3>
                }
                <div class="col-md-11 form-group contact-form-group">
                    <label class="input-label required">@L("Form-Name")</label>
                    <input type="text" asp-for="Name" class="contact-input" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="col-md-11 form-group contact-form-group">
                    <label class="input-label required">@L("Form-Email")</label>
                    <input type="text" asp-for="Email" class="contact-input" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="col-md-11 form-group contact-form-group">
                    <label class="input-label required">@L("Form-Title")</label>
                    <input type="text" asp-for="Subject" class="contact-input" />
                    <span asp-validation-for="Subject" class="text-danger"></span>
                </div>
                <div class="col-md-11 form-group contact-form-group">
                    <label class="input-label required">@L("Form-Message")</label>
                    <span asp-validation-for="Body" class="text-danger block-error"></span>
                    <div class="text-box-area">
                        <span class="body-text-length-counter">@L("Body-Fext-Festiction") <span id="body-text-counter">350</span></span>
                        <textarea asp-for="Body" class="contact-textarea"></textarea>
                    </div>
                </div>
                <div class="col-md-11 form-group contact-form-group">
                    <label class="input-label">@L("Form-File")</label>
                    <span asp-validation-for="Attachment" class="text-danger block-error"></span>
                    <input type="button" value="@L("File-Upload")" onclick="document.getElementById('Attachment').click();" />
                    <span id="FilePath"></span>
                    <input type="file" asp-for="Attachment" style="display:none" />
                </div>
                <div class="col-md-11 form-group contact-form-group">
                    <button type="submit" class="contact-submit-button">@L("Form-Send")</button>
                </div>
                <div class="col-md-11 contact-map" id="map">
                </div>
            </div>
        </div>
    </form>
</div>

