﻿@using Kate.Article.ViewModels
@using Kate.Web.Extensions
@using Kate.Web.Helpers
@model PageingHelper<NewsFeedViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="container">
        @Html.Partial("_HeaderStrip")
        
        @foreach (var news in Model.List)
        {
            <div class="col-md-12">
                <div class="news d-flex justify-content-between">
                    <div class="poster">
                        <img style="width:100%" src="@(FolderPaths.Value.ImageFolderPath + news.PhotoName)" />
                    </div>

                    <div class="description">
                        <a asp-action="ReadMore" asp-route-id="@news.Id">
                            <h2>@news.Name</h2>
                        </a>
                        <br />

                        <span class="text">
                            @Html.Raw(news.Description.Slice(459)) ... <a asp-controller="News" asp-action="ReadMore" asp-route-id="@news.Id"><span class="read-more-text">@L("Read-More")</span> </a>
                        </span>
                    </div>
                </div>
            </div>
        }
        <div class="col-md-12">
            @Html.Partial("_Pageing", Model.GetPageingData(ViewContext.RouteData.Values))
        </div>
    </div>
</div>