﻿@using Kate.Article.ViewModels
@model ReadMoreViewModel

@{
    ViewData["Title"] = "Read More";
}

<style>
    .popup {
        width: 900px;
        margin: auto;
        text-align: center
    }

        .popup img {
            width: 200px;
            height: 200px;
            cursor: pointer
        }

    .showwww {
        z-index: 999;
        display: none;
    }

        .showwww .overlay {
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,.66);
            position: absolute;
            top: 0;
            left: 0;
        }

        .showwww .img-show {
            width: 600px;
            height: 400px;
            background: #FFF;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            overflow: hidden
        }

    .img-showwww span {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 99;
        cursor: pointer;
    }

    .img-showwww img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
</style>

<div class="row">
    <div class="container">

        @Html.Partial("_HeaderStrip")

        <div class="col-md-10 col-centered text-container italic font-italic mb-2 mt-3">
            <h2>@Model.Name</h2>
            <img src="@(FolderPaths.Value.ImageFolderPath + Model.PhotoPath)" class="news-main-image" />
            <div class="big-text">
                @Html.Raw(Model.Description)
            </div>
        </div>
    </div>
</div>
<div class="showwww">
    <div class="overlay"></div>
    <div class="img-showwww">
        <span>X</span>
        <img src="">
    </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog" >

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="myModal" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <img src="" style="width:100%;">
            </div>
        </div>

    </div>
</div>
<script>
    $(function () {
        "use strict";

        $(".galleryopen").click(function () {
            console.log("gggggg");
            var $src = $(this).attr("src");
            $(".modal-body img").attr("src", $src);
            $('#myModal').modal('show');
           
        });

        //$("span, .overlay").click(function () {
        //    $(".showwww").fadeOut();
        //});

    });
</script>