﻿@using Kate.Web.Areas.Admin.Models
@model DropdownWiewModel

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    @Model.DropdownName
                </h2>
            </div>
            <div class="body">
                <div class="row clearfix">
                    <div class="col-md-3">
                        <p>
                            <b>სია</b>
                        </p>
                        <select class="form-control show-tick" name="@Model.BindName">
                            <option value="0">გთხოვთ აირჩიოთ</option>
                            @foreach (var optionItem in Model.Dropdown)
                            {
                                <!option value="@optionItem.Id" @(optionItem.IsSelected ? "selected" : "")>@optionItem.Name</!option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
