﻿@using Kate.PhotoVideoGallery.Dto
@model PhotoVideoGalleryManageDto
@{
    int i = -1;
}

<div class="col-md-12">
    <div class="card">
        <div class="header">
            <h2>ფაილები</h2>
        </div>
        <div class="body">
            <div id="PhotoVideoGalleryFileUploadConteiner">
                @if (Model.Files != null)
                {
                    foreach (var file in Model.Files)
                    {
                        { i++; }
                        <div class="card">
                            <div class="header">
                                <button type="button" class="btn btn-danger DeleteDynamicPhotoVideoGalleryInput">წაშლა</button>
                            </div>
                            <div class="body">
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <a href="@(FolderPaths.Value.ImageFolderPath + file.FilePath)" data-sub-html="Demo Description">
                                            <img class="img-responsive thumbnail" src="@(FolderPaths.Value.ImageFolderPath + file.FilePath)">
                                    </a>
                                </div>
                                <br />
                                <br />
                                <label class="chooseFile">ფაილის არჩევა</label>
                                <br />
                                <input type="hidden" name="Files[@i].FilePath" value="@Model.Files.ElementAt(i).FilePath" />
                                <input name="Files[@i].File" type="file" class="form-control" />
                                <br />
                                <label>Embed</label>
                                <input type="text" name="Files[@i].Embed" value="@Model.Files.ElementAt(i).Embed" class="form-control" />
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="card">
                        <div class="header">
                            <button type="button" class="btn btn-danger DeleteDynamicPhotoVideoGalleryInput">წაშლა</button>
                        </div>
                        <div class="body">
                            <br />
                            <br />
                            <label class="chooseFile">ფაილის არჩევა</label>
                            <br />
                            <input type="hidden" name="Files[0].FilePath" value="" />
                            <input name="Files[0].File" type="file" class="form-control" />
                            <br />
                            <label>Embed</label>
                            <input type="text" name="Files[0].Embed" class="form-control" />
                        </div>
                    </div>

                }
            </div>

            <button type="button" class="btn btn-success" id="AddDynamicPhotoVideoGalleryInput">ვლის დამატება</button>
        </div>
    </div>
</div>
<script type="text/template" id="FileUploadTemplete">
    <div class="card">
        <div class="header">
            <button type="button" class="btn btn-danger DeleteDynamicPhotoVideoGalleryInput">წაშლა</button>
        </div>

        <div class="body">
            <br />
            <br />
            <label class="chooseFile">ფაილის არჩევა</label>
            <br />
            <input type="hidden" name="Files[{index}].FilePath" value="" />
            <input name="Files[{index}].File" type="file" class="form-control" />
            <br />
            <label>Embed</label>
            <input type="text" name="Files[{index}].Embed" class="form-control" />
        </div>
    </div>
</script>