﻿@using Kate.Web.Areas.Admin.Models
@using Kate.Localization;
@model TranslationViewModel

<input type="hidden" value="@Model.Translation.Id" name="Translations[@Model.Indexer].Id" />
<input type="hidden" value="@Model.Translation.LanguageId" name="Translations[@Model.Indexer].LanguageId" />

@switch (Model.Translation.LanguageId)
{
    case (int)LanguageEnum.English:
        <h2 class="card-inside-title">სათაური ინგლისურად</h2>
        break;
    case (int)LanguageEnum.Georgian:
        <h2 class="card-inside-title">სათაური ქართულად</h2>
        break;
    case (int)LanguageEnum.French:
        <h2 class="card-inside-title">სათაური ფრანგულად</h2>
        break;
    case (int)LanguageEnum.German:
        <h2 class="card-inside-title">სათაური რუსულად</h2>
        break;
}

<div class="row clearfix">
    <div class="col-sm-12">
        <div class="form-group form-group-lg">
            <div class="form-line">
                <input type="text" class="form-control" placeholder="გთხოვთ ჩაწეროთ დასახელება" name="Translations[@Model.Indexer].Name" value="@Model.Translation.Name" />
            </div>
        </div>
    </div>
</div>

@switch (Model.Translation.LanguageId)
{
    case (int)LanguageEnum.English:
        <h2 class="card-inside-title">აღწერა ინგლისურად</h2>
        break;
    case (int)LanguageEnum.Georgian:
        <h2 class="card-inside-title">აღწერა ქართულად</h2>
        break;
    case (int)LanguageEnum.French:
        <h2 class="card-inside-title">აღწერა ფრანგულად</h2>
        break;
    case (int)LanguageEnum.German:
        <h2 class="card-inside-title">აღწერა რუსულად</h2>
        break;
}

<textarea id="ckeditor-@Model.Indexer" name="Translations[@Model.Indexer].Description" required>@Model.Translation.Description</textarea>