﻿@model string

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    თაგები
                </h2>
            </div>
            <div class="body">
                <div class="form-group demo-tagsinput-area">
                    <div class="form-line">
                        <input type="text" name="tags" class="form-control" data-role="tagsinput" value="@Model">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>