﻿@model string

<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="card">
        <div class="header">
            <h2>
                სურათი
            </h2>
        </div>
        <div class="body">
            @if (!string.IsNullOrEmpty(Model))
            {
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <a href="@(FolderPaths.Value.ImageFolderPath + Model)" data-sub-html="Demo Description">
                        <img class="img-responsive thumbnail" src="@(FolderPaths.Value.ImageFolderPath + Model)">
                    </a>
                </div>
            }
            <br />
            <label class="chooseFile">სურათის არჩევა არჩევა</label>
            <br />
            <input name="UploadPicture" type="file" class="form-control" />
        </div>
    </div>
</div>