﻿@using Kate.Web.Areas.Admin.Models
@model UploadFileViewModel

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    ფაილის მიბმა
                </h2>
            </div>
            <div class="body">
                <div>
                    @if (!string.IsNullOrEmpty(Model.PdfFilePath))
                    {
                        <a href="@(FolderPaths.Value.PdfWordFolderPath + Model.PdfFilePath)">@Model.FileUserReadableName</a>
                    }
                    <br />
                    <label class="chooseFile">ქართული ფაილის არჩევა</label>
                    <br />
                    <input name="UploadPdf" type="file" class="form-control" />
                </div>
                <div>
                    @if (!string.IsNullOrEmpty(Model.WordFilePath))
                    {
                        <a href="@(FolderPaths.Value.PdfWordFolderPath + Model.WordFilePath)">@Model.FileUserReadableName</a>
                    }
                    <br />
                    <label class="chooseFile">ინგლისური ფაილის არჩევა</label>
                    <br />
                    <input name="UploadWord" type="file" class="form-control" />
                </div>
            </div>
        </div>
    </div>
