﻿.saveButtonCenter {
    margin: 0 auto;
    width: 36px;
    margin-top: 30px;
}

.modal-text {
    width: 95%;
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
}

.modal-error-text {
    font-size: 16px;
    color: red;
}
