﻿@using Kate.Web.Startup
@using Kate.Disciplinary.Dto
@using Kate.Web.Extensions
@model IEnumerable<DisciplinaryTableDto>
@{
    ViewBag.CurrentPageName = PageNames.Disciplinary; // The menu item will be active for this page.
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    გადაწყვეტილებები
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a id="RefreshButton" href="javascript:void(0);" class="waves-effect waves-block"><i class="material-icons">refresh</i>Refresh</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>სახელი</th>
                            <th>აღწერა</th>
                            <th>მიმაგრებული სურათი</th>
                            <th>მიმაგრებული ფაილი word</th>
                            <th>მიმაგრებული ფაილი pdf</th>
                            <th>ჩანს თუ არა საიტზე</th>
                            <th>კატეგორია</th>
                            <th>სორტის ინდექსი</th>
                            <th>მოქმედებები</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var disciplinary in Model)
                        {
                            <tr>
                                <td>@disciplinary.Translation.Name</td>
                                <td 
                                    data-toggle="modal" 
                                    data-target="#DescritionModal" 
                                    data-text="@Html.Raw(disciplinary.Translation.Description)" 
                                    onclick="$('.modal-text').html($(this).data('text'))">@disciplinary.Translation.Description.Slice(70)</td>                              
                                <td>
                                    @if (string.IsNullOrEmpty(disciplinary.MainPhotoPath))
                                    {
                                        <span>ფაილი არ არის მიმაგრებული</span>
                                    }
                                    else
                                    {
                                        <a href="@(FolderPaths.Value.ImageFolderPath + disciplinary.MainPhotoPath)">სურათის სანახავად დააჭირე</a>
                                    }
                                </td>
                                <td>
                                    @if (string.IsNullOrEmpty(disciplinary.WordFilePath))
                                    {
                                        <span>ფაილი არ არის მიმაგრებული</span>
                                    }
                                    else
                                    {
                                        <a href="@(FolderPaths.Value.PdfWordFolderPath + disciplinary.WordFilePath)">@disciplinary.FileUserReadableName</a>
                                    }
                                </td>
                                <td>
                                    @if (string.IsNullOrEmpty(disciplinary.PdfFilePath))
                                    {
                                        <span>ფაილი არ არის მიმაგრებული</span>
                                    }
                                    else
                                    {
                                        <a href="@(FolderPaths.Value.PdfWordFolderPath + disciplinary.PdfFilePath)">@disciplinary.FileUserReadableName</a>
                                    }
                                </td>
                                <td><i class="material-icons" style="color:@(disciplinary.ShowOnSite ? "green":"red");">@(disciplinary.ShowOnSite ? "check_box" : "indeterminate_check_box")</i></td>
                                <td>@disciplinary.CategoryName</td>
                                <td>@disciplinary.SortIndex</td>

                                <td class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">menu</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li>
                                            <form asp-action="Delete" method="post">
                                                <input type="hidden" value="@disciplinary.Id" name="id" />
                                                <button type="submit" class="btn btn-primary">წაშლა</button>
                                            </form>
                                        </li>
                                        <li>
                                            <a class="waves-effect waves-block edit-user" asp-action="Manage" asp-controller="Disciplinary" asp-route-id="@disciplinary.Id"><i class="material-icons">edit</i>რედაქტირება</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <a asp-action="Manage" asp-controller="Disciplinary">
                    <button type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right">
                        <i class="material-icons">add</i>
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="DescritionModal" tabindex="-1" role="dialog" aria-labelledby="DescritionModal" data-backdrop="static">
    <div class="modal-dialog" role="dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">აღწერა</h4>
            </div>
            <span class="modal-text"></span>
        </div>
    </div>
</div>