﻿@using Kate.Disciplinary.Dto
@using Kate.Web.Areas.Admin.Models
@using Kate.EntityFrameworkCore.Entities
@model DisciplinaryManageDto
@{
    ViewData["Title"] = "Manage";
    int i = -1;
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <a asp-controller="Disciplinary" asp-action="index" style="padding-left:90%">უკან დაბრუნება</a>
        <div class="card">
            <div class="header">
                <h2>
                     რედაქტირება
                </h2>
            </div>
            <div class="body">
                <form asp-action="Save" method="post" enctype="multipart/form-data">
                    <input type="hidden" asp-for="Id" />

                    <div class="row clearfix">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="card">
                                <div class="header">
                                    <h2></h2>
                                </div>
                                <div class="body">
                                    <div class="row clearfix">
                                        <div class="col-md-4">
                                            <input type="checkbox" id="basic_checkbox_1" @(Model.ShowOnSite ? "Checked" : "") value="true" name="ShowOnSite" />
                                            <label for="basic_checkbox_1">გამოჩნდეს თუ არა საიტზე</label>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="number" class="form-control" value="@Model.SortIndex" name="SortIndex" />
                                            <label>სორტირების ინდექსი</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>
                                                <b>მიმაგრებული ფაილის დასახელება</b>
                                            </p>
                                            <div class="input-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" placeholder="ტექსტი" value="@Model.FileUserReadableName" name="FileUserReadableName">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @Html.Partial("_Dropdown", new DropdownWiewModel { DropdownName = "კატეგორია", Dropdown = Model.Dropdown, BindName = "SelectedCategoryId" })
                    </div>
                    <div class="row clearfix">
                        @Html.Partial("_UploadPhoto", Model.MainPhotoPath)
                        @Html.Partial("_UploadFiles", new UploadFileViewModel { FileUserReadableName = Model.FileUserReadableName, PdfFilePath = Model.PdfFilePath, WordFilePath = Model.WordFilePath })
                    </div>

                    @foreach (var translation in Model.Translations)
                    {
                        { i++; }

                        @Html.Partial("_StandartTranslation", new TranslationViewModel { Indexer = i, Translation = translation })
                    }
                    <div class="saveButtonCenter">
                        <button type="submit" class="btn bg-orange waves-effect">
                            <i class="material-icons">save</i>
                            <span>შენახვა</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>