﻿@using Kate.Web.Startup
@using Kate.Decision.Dto
@using Kate.Web.Extensions
@model IEnumerable<DecisionTableDto>
@{
    ViewBag.CurrentPageName = PageNames.Decision; // The menu item will be active for this page.
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    კანონმდებლობა
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a id="RefreshButton" href="javascript:void(0);" class="waves-effect waves-block"><i class="material-icons">refresh</i>Refresh</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>სახელი</th>
                            <th>სორტირების ინდექსი</th>
                            <th>აღწერა</th>
                            <th>ფაილის ბმული</th>
                            <th>თარიღი</th>
                            <th>ჩანს თუ არა სლაიდერში</th>
                            <th>მიმაგრებული სურათი</th>
                            <th>მიმაგრებული ფაილი word</th>
                            <th>მიმაგრებული ფაილი pdf</th>
                            <th>ჩანს თუ არა საიტზე</th>
                            <th>ჩანს თუ არა მარჯვენა ყუთში</th>
                            <th>კატეგორია</th>
                            <th>საძიებო თაგები</th>
                            <th>მოქმედებები</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var decision in Model)
                        {
                            <tr>
                                <td>@decision.Translation.Name</td>
                                <td>@decision.SortIndex</td>
                                <td data-toggle="modal" data-target="#DescritionModal" data-text="@decision.Translation.Description" onclick="$('.modal-text').html($(this).data('text'))">
                                    @decision.Translation.Description.Slice(70)
                                </td>
                                <td>@decision.LinkToFile</td>
                                <td>@decision.DecisionDate</td>
                                <td><i class="material-icons" style="color:@(decision.ShowOnMainPage ? "green":"red");">@(decision.ShowOnMainPage ? "check_box" : "indeterminate_check_box")</i></td>
                                <td>
                                    @if (string.IsNullOrEmpty(decision.MainPhotoPath))
                                    {
                                        <span>ფაილი არ არის მიმაგრებული</span>
                                    }
                                    else
                                    {
                                        <a href="@(FolderPaths.Value.ImageFolderPath + decision.MainPhotoPath)">სურათის სანახავად დააჭირე</a>
                                    }
                                </td>
                                <td>
                                    @if (string.IsNullOrEmpty(decision.WordFilePath))
                                    {
                                        <span>ფაილი არ არის მიმაგრებული</span>
                                    }
                                    else
                                    {
                                        <a href="@(FolderPaths.Value.PdfWordFolderPath + decision.WordFilePath)">@decision.FileUserReadableName</a>
                                    }
                                </td>
                                <td>
                                    @if (string.IsNullOrEmpty(decision.PdfFilePath))
                                    {
                                        <span>ფაილი არ არის მიმაგრებული</span>
                                    }
                                    else
                                    {
                                        <a href="@(FolderPaths.Value.PdfWordFolderPath + decision.PdfFilePath)">@decision.FileUserReadableName</a>
                                    }
                                </td>
                                <td><i class="material-icons" style="color:@(decision.ShowOnSite ? "green":"red");">@(decision.ShowOnSite ? "check_box" : "indeterminate_check_box")</i></td>
                                <td><i class="material-icons" style="color:@(decision.ShowOnMainPageBox ? "green":"red");">@(decision.ShowOnMainPageBox ? "check_box" : "indeterminate_check_box")</i></td>
                                <td>@decision.CategoryName</td>
                                <td>
                                <td class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">menu</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        @foreach (var tag in decision.SearchTags)
                                        {
                                            <li><a href="#" class="waves-effect waves-block edit-user"><i class="material-icons">edit</i>@tag.Tag</a></li>
                                        }
                                    </ul>
                                </td>

                                <td class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">menu</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li>
                                            <form asp-action="Delete" method="post">
                                                <input type="hidden" value="@decision.Id" name="id" />
                                                <button type="submit" class="btn btn-primary">წაშლა</button>
                                            </form>
                                        </li>
                                        <li>
                                            <a class="waves-effect waves-block edit-user" asp-action="Manage" asp-controller="Decision" asp-route-id="@decision.Id"><i class="material-icons">edit</i>რედაქტირება</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <a asp-action="Manage" asp-controller="Decision">
                    <button type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right">
                        <i class="material-icons">add</i>
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="DescritionModal" tabindex="-1" role="dialog" aria-labelledby="DescritionModal" data-backdrop="static">
    <div class="modal-dialog" role="dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">აღწერა</h4>
            </div>
            <span class="modal-text"></span>
        </div>
    </div>
</div>