﻿@using Kate.InnerComplaint.Dto;
@using Kate.Web.Areas.Admin.Models
@model InnerComplaintDto
@{
    ViewData["Title"] = "Manage";
    int i = -1;
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <a asp-controller="InnerComplaint" asp-action="index" style="padding-left:90%">უკან დაბრუნება</a>
        <div class="card">
            <div class="header">
                <h2>

                </h2>
            </div>
            <div class="body">
                <form asp-action="Save" method="post" enctype="multipart/form-data">
                    <input type="hidden" asp-for="Id" />

                    @foreach (var translation in Model.Translations)
                    {
                        { i++; }

                        @Html.Partial("_StandartTranslation", new TranslationViewModel { Indexer = i, Translation = translation });
                    }

                    <button type="submit" class="btn bg-orange waves-effect">
                        <i class="material-icons">save</i>
                        <span>შენახვა</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>