﻿@{
    var CategoryNames = (string[])ViewBag.CategoryNames;
    <div class="col-md-12">
        <div class="article-header-strip">
            <h2>@string.Join(" >> ", CategoryNames)</h2>
            <img src="~/images/inner/articleHeadHammer.png" />
        </div>
    </div>
}
