﻿@using System.Globalization
@using Abp.Configuration
@using Abp.Configuration.Startup
@using Abp.Web.Security.AntiForgery
@using Kate
@using Kate.Configuration
@using Kate.SignalR
@using Kate.Web.Resources
@using Kate.Web.Views.Shared.Components.SideBarNav
@using Kate.Web.Views.Shared.Components.SideBarUserArea
@using Kate.Web.Views.Shared.Components.TopBarLanguageSwitch
@using Kate.Web.Views.Shared.Components.RightSideBar
@using Kate.Web.Views.Shared.Components
@inject Kate.Timing.AppTimes AppTimes
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@inject IMultiTenancyConfig MultiTenancyConfig
@inject IWebResourceManager WebResourceManager
@inject ISettingManager SettingManager;
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <meta name="google-site-verification" content="H-kxE9zj3HRLf5boA4KbbHxI4Yqcj8A6QNtsBmqB-R8" />
    <title>Pension Agency / საპენსიო სააგენტო</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    
    <meta property="og:title" content="Pension Agency / საპენსიო სააგენტო" />
   
    <meta property="og:type" content="website">

    <meta property="og:url" content="http://ge/" />

    <link rel="shortcut icon" href="~/favicon.png">

    <link href="~/view-resources/Views/Account/layoutFront.min.css" rel="stylesheet" asp-append-version="true" />
    <script src="https://unpkg.com/draggabilly@2/dist/draggabilly.pkgd.min.js"></script>

    <!-- View specific styles -->
    @RenderSection("styles", required: false)

    <script type="text/javascript">
        // This is used to get the application's root path from javascript. It's useful if you're running application in a virtual directory under IIS.
        var abp = abp || {};
        abp.appPath = '@ApplicationPath';
    </script>
    <script>
        var Address ="@Html.Raw(L("Ofice-Adress"))";
    </script>
    <script src="~/view-resources/Views/_Bundles/layoutFront.min.js" asp-append-version="true"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtdWYOmXgO1UM339BhUKMxjtUj-iPmmEA&callback=initMap">
    </script>
    @*<meta http-equiv="X-UA-Compatible" content="IE=edge">*@

</head>
<body>
    @RenderBody()

    <script>
        // Localizing momentjs
        // moment.locale('@CultureInfo.CurrentUICulture.Name');
    </script>

    @WebResourceManager.RenderScripts()

    <!-- View specific scripts -->
    @RenderSection("scripts", required: false)

    <link href="~/css/exploerer.css" rel="stylesheet" />
    <!--[if IE]>
        <style type="text/css">
            #footer-descktop-flag-text {
               font-size:12px !important;
            }
            .footer-nav ul li a
            {
                font-size:12px;
            }
        </style>
      <![endif]-->
    <script>
        var BrowserDetect;
        BrowserDetect = {
            init: function () {
                this.browser = this.searchString(this.dataBrowser) || "Other";
                this.version = this.searchVersion(navigator.userAgent) || this.searchVersion(navigator.appVersion) || "Unknown";
            },
            searchString: function (data) {
                for (var i = 0; i < data.length; i++) {
                    var dataString = data[i].string;
                    this.versionSearchString = data[i].subString;

                    if (dataString.indexOf(data[i].subString) !== -1) {
                        return data[i].identity;
                    }
                }
            },
            searchVersion: function (dataString) {
                var index = dataString.indexOf(this.versionSearchString);
                if (index === -1) {
                    return;
                }

                var rv = dataString.indexOf("rv:");
                if (this.versionSearchString === "Trident" && rv !== -1) {
                    return parseFloat(dataString.substring(rv + 3));
                } else {
                    return parseFloat(dataString.substring(index + this.versionSearchString.length + 1));
                }
            },

            dataBrowser: [
                { string: navigator.userAgent, subString: "Edge", identity: "MS Edge" },
                { string: navigator.userAgent, subString: "MSIE", identity: "Explorer" },
                { string: navigator.userAgent, subString: "Trident", identity: "Explorer" },
                { string: navigator.userAgent, subString: "Firefox", identity: "Firefox" },
                { string: navigator.userAgent, subString: "Opera", identity: "Opera" },
                { string: navigator.userAgent, subString: "OPR", identity: "Opera" },

                { string: navigator.userAgent, subString: "Chrome", identity: "Chrome" },
                { string: navigator.userAgent, subString: "Safari", identity: "Safari" }
            ]
        };//  get BrowserDetect Object from the link referenced in this answer
        BrowserDetect.init();
        // On page load, detect browser (with jQuery or vanilla)
        if (BrowserDetect.browser === 'Explorer') {
            // Add 'ie' class on every element on the page.
            console.log("iei");
            $("*").addClass('ie');
        }
    </script>
    <style>
        #footer-descktop-flag-text.ie {
            font-size: 12px;
        }

        .footer-nav.ie {
            margin-top: 41px;
        }
    </style>
</body>
</html>
