﻿@using Kate.DynamicMenu.ViewModels
@using Kate.Web.Models.Navigation
@model NavigationCategoryMenuViewModel

@{
    var category = Model.PrincipalCategory;
}

@if (category.ParentId != null)
{
    <li>
        @if (category.Categories.Count > 0)
        {
            //todo should not be link
            <a asp-controller="Categories" asp-action="MiddleLevel" asp-route-id="@category.Id" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="100" data-close-others="false">
                @category.CategoryName <span class="caret"></span>
            </a>
        }
        else
        {
            <a asp-controller="@category.Controller" asp-action="@category.Action" asp-route-id="@category.Id">@category.CategoryName</a>
        }
    </li>
}

@if (category.Categories.Count > 0)
{
    //inner categories
    <ul>
        @foreach (var headerChild in category.Categories)
        {
            @Html.Partial("_NavigationChildCategoryPartial", new NavigationCategoryMenuViewModel
            {
                PrincipalCategory = headerChild,
                IsVoicePage = Model.IsVoicePage
            })
        }
    </ul>
}
