﻿@using Kate.Web.Helpers
@model PageingData

<ul class="pagination">
    @for (var i = 1; i < (Model.PageCount + 1); i++)
    {
        <li class="@(Model.CurrentPage == i?"active":"")">
            @if (Model.SearchString != null)
            {

                <a asp-action="@Model.Action" asp-controller="@Model.Controller" asp-route-id="@Model.CategoryId" asp-route-page="@i" asp-route-search="@Model.SearchString">
                    @i
                </a>
            }
            else

            {
                <a asp-action="@Model.Action" asp-controller="@Model.Controller" asp-route-id="@Model.CategoryId" asp-route-page="@i">
                    @i
                </a>

            }

        </li>
    }
</ul>
