﻿@using Kate.Web.Models.Navigation
@model NavigationViewModel

@foreach (var cat in Model.Categories)
{
    <li class="@("show-on-resposive") @(cat.Categories.Count > 0 ? "dropdown" : "")">
        @if (cat.Categories.Count > 0)
        {
            //todo should not be link
            <a asp-controller="@cat.Controller" asp-action="@cat.Action" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="100" data-close-others="false">
                @cat.CategoryName <span class="caret"></span>
            </a>

            //inner categories
            <ul class="dropdown-menu" role="menu">
                @Html.Partial("_NavigationChildCategoryPartial", new NavigationCategoryMenuViewModel
           {
               PrincipalCategory = cat,
               IsVoicePage = false
           })
            </ul>
        }
        else
        {
            <a asp-controller="@cat.Controller"
               asp-action="@cat.Action"
               asp-route-id="@cat.Id" class="nav-men">@cat.CategoryName</a>
        }
    </li>
}