.nav-men {
    font-size: 2.4em;
    cursor: pointer;
    border-radius: 5px;
    padding: 25px 20px;
    display: inline-block;
    color: #000;
}
:focus {
    background-color: #2196f31f;    
}
.text-align-center {
    text-align: center;
}
.nav-men.readed {
    background: #fbbd0820 !important;
}
.ui.menu:not(.vertical) .item {
    font-size: 1em;
}
.readed {
    background: #03a9f429;
    border-radius: 5px;
}