﻿@using Kate.Web.Models.Navigation
@model NavigationViewModel

@if (!Model.IsVoicePage)
{
    foreach (var cat in Model.Categories)
    {

        if (cat.DontShowOnResponsive)
        {
            <li class="not-show-responsive">
                @if (cat.Categories.Count > 0)
                {
                    <a asp-controller="Category" asp-action="MiddleLevel" asp-route-id="@cat.Id"><span class="@(cat.CategoryName?.Length>14?"side-navigation-span-fix":"")">@cat.CategoryName</span> </a>
                }
                else
                {
                    <a asp-controller="@cat.Controller" asp-action="@cat.Action" asp-route-id="@cat.Id"><span class="@(cat.CategoryName?.Length>14?"side-navigation-span-fix":"")">@cat.CategoryName</span></a>
                }
            </li>
        }
    }
}